<div id="actual-view">

<div id="sign-in-block" data-ng-hide="loggedin">
    <div class="loginfield"><span>Username:</span><input data-ng-model="username"></div><br />
    <div class="loginfield"><span>Pin:</span><input type="text" min="4" data-ng-model="pin" data-ng-pattern="/^[0-9]{4,40}$/"></div><br />
    <div data-ng-click="login()"><a data-ng-href="">Login!</a></div>
</div>
<div class="sign-in-block" data-ng-show="loggedin">
    <div data-ng-click="logout()"><a data-ng-href="">Logout!</a></div>
</div>

<div id="list-row list-header">
<div class="filename"><a href="" data-ng-click="reverse=!reverse;order('name', reverse)">Filename</a></div>
<div class="filesize"><a href="" data-ng-click="reverse=!reverse;order('size', reverse)">Size (bytes)</a></div>
<div class="filevotes"><a href="" data-ng-click="reverse=!reverse;order('votes', reverse)">Votes</a></div>
</div>

<div class="list-row" data-ng-repeat="file in files">
    <div class="filename"><a data-ng-href="{{ appConfig.dumplinkpath }}{{ file.name }}">{{ file.name }}</a></div>
    <div class="filesize">{{ file.size | number }}</div>
    <div class="filevotes">{{ file.votes }}<span class="vote" data-ng-click="vote(file)">+</span></div>
</div>

<div class="drop-box" data-ngf-drop data-ng-model="uploads" data-ngf-drag-over-class="dragover" data-ngf-multiple="true" data-ngf-allow-dir="true">
    Drop new files here
</div> 
<div class="drop-box" data-ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
</div>
