<html>
<head>
<title>File Dump!</title>

<link rel="stylesheet" href="static/style.css" />

<script src="static/angular.min.js"></script>
<script src="static/app.js"></script>

</head>
<body>

<p>This is a simple body</p>

</body>
</html>

