<html data-ng-app="angulardump">
<head>
<title>File Dump!</title>

<link rel="stylesheet" href="static/style.css" />

<script src="static/angular.min.js"></script>
<script src="static/angular-ui-router.min.js"></script>
<script src="static/angular-cookies.min.js"></script>
<script src="static/ng-file-upload.min.js"></script>
<script src="static/app.js"></script>

</head>
<body data-ui-view>

<p>This is a simple body, because you apparently don't have javascript</p>

</body>
</html>

